*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}
.container{
  height:400px;
  width:300px;
  border: 2px solid black;
  border-radius: 10%;
  position:relative;
  top:30%;
  left:45%;
  background-color: black;
}
p{
  margin:5px;
  padding:5px;
}
button{
  border: none;
  border-radius: 50%;
  height:60px;
  width:60px;
  font-size: 20px;
  text-align: center;    
}
.color{
  background-color: red;
}